<%- include('navbar') %>
<title>Account</title>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <%- include('./partials/messages') %>
      <h2 class="text-center mb-3"><i class="fa fa-user"></i> User Account</h2>
      <p>Username: <%= user.username %></p>
      <p>User: <%= user.name %></p>
      <p>Email: <%= user.email %></p>
      <ul>
        <% user.photos.forEach(function(photo){ %> <%- include('user/show',
        {user: user}); %> <% }); %>
      </ul>
    </div>
  </div>
</div>
<%- include('footer') %>
